*{
    margin:0;
    padding:0;
}
html,body{
    font-family: Ubuntu,"Fira Code",'SansSerif';
    line-height:1.6;
    letter-spacing:1px;
}
.alert{
    display: none;
}
#newblgbtn:hover{
    cursor: pointer;
}
.carousel-self{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.arrow-left{
    position: relative;
    z-index: 100;
    top:160px;
    left:139px;
    cursor: pointer;
}
.arrow-right{
    position: relative;
    z-index: 100;
    top:160px;
    right:46px;
    cursor: pointer;
}

.img-content{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}

#customM{
    display: none;
    padding: 30px;
    margin: 0 auto;
    width: 60%;
    position: relative;
    background-color: white;
    top: 100px;
    border-radius: 10px;
    margin-bottom: 150px;
}

#customalert{
    background: #D4EDDA;
    height: 50px;
    margin-top: 30px;
    border-radius: 15px;
    color: #155724;
    border-color: #c3e6cb;
    padding: 10px 30px 10px 30px;
    display: none;
}









